#root {
  
  margin: 0 auto;
  
  text-align: center;
  /* background-color: bisque; */
  
}


/* body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5RbrED0X1jTJxj2rBWCubEAmquQ0hI8yQxzYtrhGI_gDrnenWkvYl8A_V69eY1N0hqS8&usqp=CAU)
} */
